<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        /* Styling for each section */
        .video-section {
            background-color: rgb(248, 195, 195);
            padding: 20px;
            margin-bottom: 40px;
            margin-left: 12px;
            margin-right: 12px;
            border: solid 3px;
        }

        /* Flexbox container to align title and video */
        .video-row {
            display: flex;
            justify-content: center;
            /* Centers the videos horizontally */
            align-items: center;
            /* Aligns items vertically */
            gap: 20px;
            /* Space between videos */
            flex-wrap: wrap;
            /* Ensures responsiveness */
        }

        /* Individual video container */
        .video-container {
            display: flex;
            flex-direction: column;
            /* Stack title and video */
            align-items: center;
            /* Center the title & video */
            text-align: center;
        }

        /* Video Styling */
        video {
            border: 3px solid black;
        }

        /* Title Styling */
        .video-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            color: black;
        }

        /* Centering the PDF */
        .pdf-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        /* PDF Styling */
        embed {
            width: 80%;
            height: 400px;
            border: 2px solid black;
        }

        h4{
            margin-left: 10px;
        }
        p{
            margin-left: 10px;
            font-size: 15px;
        }
        span{
            font-weight: bold;
        }
    </style>
</head>

<body>
    <nav class="navbar bg-body-tertiary" style="margin-bottom: 40px;">
        <div class="container-fluid">
          <span class="navbar-text" style="font-size: 20px;">
            Faculty of Mathematical Sciences & Informatics - Statistics Department
          </span>
        </div>
      </nav>




    <h4>A Review of Quartiles, Deciles and Percentiles</h4>
    <p> <span> Supervisor: </span> Dr. Ibrahim Elabid </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">خديجة جمال محي الدين</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/kr3iuc5g2lugc5on0yk6u/.mp4?rlkey=wyfip9ucc9qq31tqdghiogv35&st=aekdu3qn&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">زينب الفاتح دفع الله</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/v7gz91tlcgtsmp2lcs6sq/.mp4?rlkey=3byb1tdhq6s3dwyus98z085ij&st=u8twlb7w&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">هبة الضو بابو عبد الرحيم</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/jop9434sjm0krfnblnaon/.mp4?rlkey=y76n3947qfp0onyyly5tlxgj6&st=5f5tig6d&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/A Review of Quartiles, Deciles and Percentiles.pdf" type="application/pdf">
        </div>
    </div>





    <h4>Bibliometric Analysis An Overview and Guidelines</h4>
    <p> <span> Supervisor: </span> Dr. Randa Abdalhaliem </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">آمنه الصديق محمد عثمان</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/xig2ri3dgpgf2happ7bdg/.mp4?rlkey=ksy4u7q5gxzdmcuap6vwcz7jm&st=3dobybt2&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">سلوان عبدالرحيم الشيخ</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/pwoam6zc6q1in25ut4mmv/.mp4?rlkey=js5o3pac70qf1j5ne7d79g8u9&st=ed08ef2l&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">آسيا الرفيع الطيب أحمد</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/4gsnlmqinpk9u0by5vj1w/.mp4?rlkey=e4ceaa7o6a67du5doozojqvep&st=h2r87hih&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Bibliometric Analysis An Overview and Guidelines.pdf" type="application/pdf">
        </div>
    </div>






    <h4>Data Envelopment Analysis vs Measuring Efficiency</h4>
    <p> <span> Supervisor: </span> Dr. Abdalfattah Abdalmmuti </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">أسامة الحاج يوسف الحاج</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/uhaiwp0emtgbcsi0r2d6z/.mp4?rlkey=4d7bn94ikqf5iehxx9m57oo7d&st=4nhwdscp&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">البشير محمد عبدالله مصطفى</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/k4gn1x4a33omkvyia8io8/.mp4?rlkey=zqapj6yb8panerfvoaef7xt32&st=pw7986od&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">محمد شهاب حسن الحاج</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/or2n7nwlq7txu1m28u76t/.mp4?rlkey=wcdz1sipdpmlyhemsz7ban4r4&st=m90gl1n9&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Data Envelopment Analysis vs Measuring Efficiency.pdf" type="application/pdf">
        </div>
    </div>






    <h4>Data Preprocessing Methods Review and Illustration</h4>
    <p> <span> Supervisor: </span> Mr. Raad Shaaban </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">محمد الميرف نزار عبدالحميد</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/19s24l3ijttpswuagpv4w/.mp4?rlkey=4lh21taig4bvfkuusokyepr81&st=ks8kdj46&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">محمد صلاح الدين أحمد</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/vpw2is7v1lvu3r2btbfi8/.mp4?rlkey=h4de8c7d9o6i7agpyk7bxmktn&st=5mp5dv92&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">محمد كمال شمس الدين</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/n5ltzowmqdd58umx2mzjr/.mp4?rlkey=aeuh189xe3zrueqq7t2g7fqx9&st=sjag9cmc&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Data Preprocessing Methods Review and Illustration.pdf" type="application/pdf">
        </div>
    </div>






    <h4>Extreme Value Theory Review and llustration</h4>
    <p> <span> Supervisor: </span> Mr. Elamin Hassan Salih </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">سارة محمد هاشم ابراهيم</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/96v0pe066tnpzmkjhgbqu/.mp4?rlkey=12adn4wjblvi0jn79ti6r2n38&st=790sgp92&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">عائشة النور إبراهيم الحاج</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/yuje5s1zs6q0u3bek3y0p/.mp4?rlkey=hkavkw9625hnhtlmy7d7gyoim&st=h2ytmmqo&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">يسرا محمد علي فقير</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/qiqahcpar37ox9ygcfzm6/.mp4?rlkey=niqe449onaiy72o9whqm2578s&st=ej0afdsp&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Extreme Value Theory Review and llustration.pdf" type="application/pdf">
        </div>
    </div>





    <h4>Game Theory</h4>
    <p> <span> Supervisor: </span> Dr. Abdelfattah Abdelmotti </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">رزاز التجاني أحمد تركي</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/y63mgy8k2xz8zx1g44eli/.mp4?rlkey=4d1vfi4b5gazp5gfvn7pkpg5o&st=7sb34xfj&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">سلمى سعد ميرغني يونس</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/mugp7cislp3xxkbh8ggga/.mp4?rlkey=yan1vd22ytyimzaryaudp0fr3&st=53piahl4&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">نداء ايهاب عبدالرؤوف</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/iqhzgwrtkaas9szefp2fl/.mp4?rlkey=4t7mndtjlelshb9d1rlo5vea1&st=ngj38lc1&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Game Theory.pdf" type="application/pdf">
        </div>
    </div>




    <h4>Methods For Selecting Unequal Probability Sampling</h4>
    <p> <span> Supervisor: </span> Dr. Ibrahim Elabid </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">تبيان عبدالله رجب حسن</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/320n4p8wl20ra56znheln/.mp4?rlkey=rk8wz5rd5ujhnqfl6crn6d7h3&st=ifjgsv1v&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">منار جمال الدين الريح الفكي</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/8yetdkpmvqwf73i2wu49o/.mp4?rlkey=h7s3240ec4no8xzvqmjxtupon&st=g2akkvrj&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Methods For Selecting Unequal Probality Sampling.pdf" type="application/pdf">
        </div>
    </div>






    <h4>Mining Frequent Patterns, Associations, and Correlations</h4>
    <p> <span> Supervisor: </span> Mr. Raad Ahmed Shaaban </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">دعاء محمود بابكر محمد</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/udq7ij3di9jhmvkp9wsgw/.mp4?rlkey=6px96ozd3ebhpx9ffo4lo5rri&st=b9ce3rl3&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">شاهندا عبدالمنعم سيد محمد</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/pba70f0b6wcvgj4hukvn8/.mp4?rlkey=borvxj7x6js2o1qn04tszbdjg&st=qe86t477&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">مزن احمد التجاني محمد</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/kl5v3j67a8b9v9itjexzr/.mp4?rlkey=hwutb76a6bl5mdx0w8ozeycs5&st=0xuibt8x&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Mining Frequent Patterns, Associations, and Correlations.pdf" type="application/pdf">
        </div>
    </div>





    <h4>Principal Component Analysis (PCA)</h4>
    <p> <span> Supervisor: </span> Dr. Randa Abdelhalim </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">أساور حيدر الضو أحمد</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/s/wmmdv7oytai11l2/%D8%A3%D8%B3%D8%A7%D9%88%D8%B1%20%D8%AD%D9%8A%D8%AF%D8%B1%20%D8%A7%D9%84%D8%B6%D9%88%20%D8%A3%D8%AD%D9%85%D8%AF.mp4?st=j58ovn0j&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">مديحة عثمان ادم محمد</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/xpejdyq65kaixa21ubi5a/.mp4?rlkey=uiiydgk0zhonlzi13hcal2fyu&st=u7cc3yly&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">مرافئ هجو الضو علي</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/j0jz78tq1rk19cb39vuno/.mp4?rlkey=as2x1n14ohu183zoha0imkxhv&st=b8e1xdu3&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Principal Component Analysis (PCA).pdf" type="application/pdf">
        </div>
    </div>





    <h4>Random Survival Forests Models</h4>
    <p> <span> Supervisor: </span> Ms. Sanaa Ahmed Hussein </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">طيب منوفلي عبدالباقي أحمد</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/3x5b2f7tw5dw1vcv7nfx0/.mp4?rlkey=ai6dzm7lsx9ux9v98syqnwulh&st=rfweof9i&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">معتز عبدالرحمن عثمان</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/sj5h6iwfi4og0aq7zhqgb/.mp4?rlkey=2l3hma915fz4bjm1y2d2ffbtb&st=vhacf2ol&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">نجوى أحمد الريح حسين</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/e37dudjxccxvfctxfe62e/.mp4?rlkey=mbumi0lm52qqjo9eqzer1htsz&st=cc7rytwf&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Random Survival Forests Models.pdf" type="application/pdf">
        </div>
    </div>





    <h4>Statistical Distances using for Constructing Nonparametric Tests</h4>
    <p> <span> Supervisor: </span> Dr. Ibrahim Elabid </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">عيسى بوش ابراهيم مناقو</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/f5eu5pn8apawo2djc3l6f/.mp4?rlkey=kf2z0msq1b2rtm8lpk74m2zmg&st=ygj40slo&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">محمد عظيم سعيد حاج الأمين</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/3jlzp2tjr8ufngshsglmv/.mp4?rlkey=x9bsrrgj73drsa3zqan5za6lk&st=7cwm5r0q&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">مريم عثمان حمد ادريس</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/i2lqeaibazrq2jdo9jh15/.mp4?rlkey=9ffde9ikqz6mzfmt2ept8mh69&st=kir1nzv2&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/Statistical Distances using for Constructing Nonparametric Tests.pdf" type="application/pdf">
        </div>
    </div>





    <h4>VAR versus Expected Shortfall in Risk Measurement</h4>
    <p> <span> Supervisor: </span> Mr. Elamin Hassan Salih </p>
    <div class="video-section">
        <div class="video-row">
            <div class="video-container">
                <div class="video-title">ريم صديق دياب ادريس</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/rqyat1j3grwi7z5ujqy2r/.mp4?rlkey=kupuewluaddmowou8emvfsv3u&st=7grusee6&raw=1" type="video/mp4">
                </video>
            </div>

            <div class="video-container">
                <div class="video-title">عاصم خالد محمد خير</div>
                <video width="320" height="240" controls>
                    <source src="https://www.dropbox.com/scl/fi/pl9bjyddyhgneno7xww5y/.mp4?rlkey=54thqkchalkdc3ejcjthhk5jp&st=gaka7vmy&raw=1" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- Centered PDF -->
        <div class="pdf-container">
            <embed src="/static/VAR versus Expected Shortfall in Risk Measurement.pdf" type="application/pdf">
        </div>
    </div>




</body>

</html>
